
{% block tittle %} 
Home page | my Tec Bits
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<title>My home</title>
<body>
    


<h1 style="background-color:DodgerBlue;"> WELCOME TO MY ONLINE MOBILE SHOP</h1>


<p style="color:blue;">  ABOUT US<br>
    Buyys phone shop located at Darajan,Zanzibar<br>
    BRAND NEW IPHONES,SAMSUNG,TECNO<br>
    We sell used and new mobile phones from DUBAI<br>
    EXCHANGE DEALS ALLOWED<br>
    phone accesories are availabe<br>
    please call or text us (0777417044)<br>
    for more information please press the button WELCOME below<br>

</p>


<a href= 'Customer view'> WELCOME</a>


</body>
</html>
{% endblock %}
    